<div>
  <h2><%= @category.name %></h2>
  <br>
  <strong>Bøger i denne kategori:</strong>
  <br>
  <%unless @category.books.nil? %>
    <% @category.books.each do |book| %>
      <%= link_to book.title, "/books/#{book.id}"  %>
      <br>
    <%end %>
  <%end %>
  <br>


</div>

<p><%= link_to "Tilbage til forside", root_path %></p>